.globalTableWords{
    display: flex;
    flex-direction: column;
}
.topbar{
    display: flex;
    flex-direction: row;
}
.topbar div{
    text-align: center;
    border: 1px solid black;
}
.topbar__1{
    flex-basis: 6%;
}
.topbar__2{
    flex-basis: 30%;
}
.topbar__3{
    flex-basis: 30%;
}
.topbar__4{
    flex-basis: 34%;
}