.str form{
    display: flex;
    flex-direction: row;
}
.str div {
    text-align: center;
    border: 1px solid black;
}
.str div{
    display: flex;
    flex-direction: column;
}
.str div label {
    display: block;
    width: 100%;
}
.str__1{
    flex-basis: 5%;
    width: 50px;
}
.str__2{
    flex-basis: 30%;
}
.str__3{
    flex-basis: 30%;
}
.str__4{
    flex-basis: 30%;
}
.str__5{
    flex-basis: 5%;
}